<resources>
	<properties>
        <property id="PROP_STARTPAGE" type="number">1</property>
        <property id="PROP_SITEID" type="string"></property>
        <property id="PROP_APIKEY" type="string"></property>
	</properties>
	<settings>
        <setting propertyKey="@Properties.PROP_STARTPAGE" title="@Strings.title_startpage">
            <settingConfig type="list">
            	<listEntry value="1">@Strings.opt_page_1</listEntry>
            	<listEntry value="2">@Strings.opt_page_2</listEntry>
            	<listEntry value="3">@Strings.opt_page_3</listEntry>
            	<listEntry value="4">@Strings.opt_page_4</listEntry>
            	<listEntry value="5">@Strings.opt_page_5</listEntry>
            	<listEntry value="6">@Strings.opt_page_6</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.PROP_SITEID" title="@Strings.title_siteid">
        	<settingConfig type="AlphaNumeric" required="true"></settingConfig>
        </setting>
                <setting propertyKey="@Properties.PROP_APIKEY" title="@Strings.title_API_key">
        	<settingConfig type="AlphaNumeric" required="true"></settingConfig>
        </setting>
	</settings>
</resources>
